body {
    overflow-x: scroll;
    display: grid;
    color: black;
    place-items: center;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(213, 250, 255), rgb(245, 190, 253), rgb(251, 199, 207));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#doc {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100%;
}

#game {
    display: grid;
    width: max-content;
    height: max-content;
    place-items: center;
    column-gap: 5px;
}

.box {
    width: 5rem;
    height: 5rem;
    display: grid;
    border: 3px solid blue;
    border-radius: 10px;
    place-content: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    background-color: white;
}

#wrongGuesses,
#guessed,
#hint {
    width: max-content;
    height: max-content;
    font-size: 2rem;
    margin-top: 25px;
    margin-left: 50px;
}

#wrongGuesses {
    margin-top: 0;
}

#guessed {
    border: 3px solid black;
    width: 350px;
    height: 50px;
    place-content: center;
    text-align: left;
    padding: 5px;
    border-radius: 20px;
}

#content {
    width: 500px;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
}

#otherStuff {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}

#popUp {
    display: none;
    position: fixed;
    z-index: 1;
    top: 20%;
    width: 30rem;
    height: 30rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    background-color: white;
    border: 5px solid rgb(165, 0, 207);
    border-radius: 50px;
    place-content: center;
    box-shadow: rgb(204, 0, 255) 0 0 90px 20px;
}

.text {
    width: max-content;
    height: max-content;
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Permanent Marker", cursive;
}

.textFont {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.gif {
    width: 250px;
    height: 250px;
}

.btn {
    width: max-content;
    height: max-content;
    padding: 15px;
    font-size: 2rem;
    border: 2px solid black;
    background-color: rgb(194, 252, 107);
    border-radius: 50px;
    margin-top: 10px;
    box-shadow: 8px 8px 5px rgb(154, 154, 154);
    cursor: pointer;
    margin-bottom: 10px;
}

.imgCnt {
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 700;
    height: max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: rgb(62, 0, 62);
}

@media (max-width: 600px) {
    body {
        margin-left: 0;
    }

    #otherStuff {
        display: flex;
        flex-direction: column-reverse;
    }

    #content {
        height: max-content;
    }

    #game {
        display: flex;
        flex-wrap: wrap;
        height: max-content;
        width: 100%;
        row-gap: 5px;
        justify-content: center;
        align-items: center;
    }

    #popUp {
        width: 20rem;
        height: max-content;
    }

    #popUp>.text {
        font-size: 2.5rem;
    }

    .gif {
        width: 10rem;
        height: 10rem;
    }
}
